<<<<<<< HEAD
.weather-container {
    background-color: rgba(0, 255, 255, 0.575);
    box-shadow: -1.5px 4px 8px rgb(2, 131, 170);

    border-radius: 8px;

    padding: 20px;

    margin: 20px 0;


}

h3 {
    margin-bottom: 10px;
}

.weather-card {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.weather-item {
    background-color: rgba(0, 255, 255, 1);
    border-radius: 8px;
    padding: 10px;

}

.weather-item:hover {
    background-color: rgba(5, 129, 129, 0.747);
    cursor: pointer;
}

.forecast-day {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
}

.forecast-description {
    text-transform: capitalize;
    font-size: .8rem;
    margin-bottom: 10px;
}

.forecast-temp {
    font-size: .9rem;
=======
.weather-container {
    background-color: rgba(0, 255, 255, 0.575);
    box-shadow: -1.5px 4px 8px rgb(2, 131, 170);

    border-radius: 8px;

    padding: 20px;

    margin: 20px 0;


}

h3 {
    margin-bottom: 10px;
}

.weather-card {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.weather-item {
    background-color: rgba(0, 255, 255, 1);
    border-radius: 8px;
    padding: 10px;

}

.weather-item:hover {
    background-color: rgba(5, 129, 129, 0.747);
    cursor: pointer;
}

.forecast-day {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
}

.forecast-description {
    text-transform: capitalize;
    font-size: .8rem;
    margin-bottom: 10px;
}

.forecast-temp {
    font-size: .9rem;
>>>>>>> 9a5c62f87f94b7038909be2a044b97ce4336adc5
}