<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #00b4db, #0083b0);
    color: #333;
    line-height: 1.6;
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #00b4db, #0083b0);
    color: #333;
    line-height: 1.6;
>>>>>>> 9a5c62f87f94b7038909be2a044b97ce4336adc5
}